<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/customers">Customers</a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/new-customer">New Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
